body{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background: url(../img/Naruto.jpg) no-repeat fixed center bottom;
    /* background-repeat: no-repeat; */
    /* height: 860px; */
    /* background-size: cover; */
}

.section__wrapper.is_active{
    display: block;
} 
.section__wrapper{
    display: none;
}
.wrapper{
    padding: 20px;
    background-color: #0b0019;
}

.container{
    max-width: 1420px;
    margin: 0 auto;

}

.header__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

}

.nav__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav__item{
    display: inline-block;
   
}



.nav__link{
    cursor: pointer;
    text-decoration: none;
    color: coral;
}

.nav__link:hover{
    color: darkred;
    transition: 300ms;
}
/* Information */

.block{
    padding: 10px; 
    background-color: rgba(11, 0, 25, 0.5);
    margin: 150px 30px; 
    color: #fff;
    /* font: 48px/64px Times New Roman; */
    /* text-align: justify; */
    border: 3px solid #0b0019;
    border-radius: 10px;
    /* height: 500px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.info{
    color: #e1beb6;
    font-size: 24px;
    margin: auto 25px;
    width: 100%;
    max-width: 800px;
}

.info h1{
    text-align: end;
    color: darkred;
}


.img__size{
    width: 100%;
    max-width: 500px;
}